<header class="navbar bg-base-100 h-32">
  <div class="navbar-start h-full">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>

    <a routerLink="/" class="font-bold h-full items-center">
      <img
        src="assets/images/absolut-logo.png"
        alt="Абсолют Сталь"
        class="h-full"
      />
      <p>АБСОЛЮТ СТАЛЬ</p>
    </a>
  </div>
  <nav class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal text-base items-center">
      <li routerLink="/home"><a>Главная</a></li>

      <li routerLink="/catalog">
        <details>
          <summary>Каталог</summary>
          <ul class="p-2">
            <li><a>Каталог 1</a></li>
            <li><a>Каталог 2</a></li>
          </ul>
        </details>
      </li>
      <li routerLink="/delivery"><a>Доставка и Оплата</a></li>
      <li routerLink="/about"><a>О компании</a></li>
      <li routerLink="/contact"><a>Контакты</a></li>
      <li><a class="btn">Скачать прайс лист</a></li>
    </ul>
  </nav>
  <div class="navbar-end">
    <a href="tel:+79199190221" class="mr-5">8(800)0000000</a>

    <a class="btn">Заказать обратный звонок</a>
  </div>
</header>
