<div class="min-h-screen flex flex-col justify-between">
  <main class="flex-grow container mx-auto p-8 space-y-12">
    <!-- Доставка -->
    <section>
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Доставка</h2>
      <p class="text-lg text-gray-700 leading-relaxed">
        Мы осуществляем доставку собственной автотранспортной службой, которая
        включает в себя парк специализированных грузовых автомобилей:
      </p>
      <ul class="list-disc list-inside text-lg text-gray-700 space-y-2 mt-4">
        <li>Газель: до 1,5 тонн, длина до 6 метров</li>
        <li>ГАЗон: до 5 тонн, длина до 6 метров</li>
        <li>МАЗ: до 20 тонн, длина до 13,7 метров</li>
      </ul>
      <p class="text-lg text-gray-700 leading-relaxed mt-4">
        Также возможна авиационная доставка по запросу, а выгрузка может быть
        выполнена с помощью манипулятора для вашего удобства.
      </p>
    </section>

    <!-- Оплата -->
    <section>
      <h2 class="text-2xl font-semibold text-gray-800 mb-4">Оплата</h2>
      <p class="text-lg text-gray-700 leading-relaxed">
        Оплата за продукцию может быть произведена следующими способами:
      </p>
      <ul class="list-disc list-inside text-lg text-gray-700 space-y-2 mt-4">
        <li>Безналичный расчёт</li>
        <li>Оплата через платёжный терминал</li>
        <li>Электронные платёжные системы (Яндекс.Деньги, Киви, BTC)</li>
      </ul>
      <p class="text-lg text-gray-700 leading-relaxed mt-4">
        Условия оплаты и сроки поставки обсуждаются индивидуально с каждым
        клиентом. Для крупных оптовых заказчиков предусмотрены специальные
        скидки.
      </p>
    </section>

    <section>
      <app-russia-map></app-russia-map>
    </section>
  </main>
</div>
